*{
    border: 0.5px solid grey;
}

h1 {
    display: flex;
    justify-content: center;
}

.shrinkImage {

    /* Source: https://stackoverflow.com/a/11763434/1291940 */
    width: 25%;
    height: 25%;
    background-image: url("http://i.stack.imgur.com/2OrtT.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  
  #paragraphOne {
    display: flex;
    align-items: flex-end;
  }

#zerothSection {
    display: flex;
    justify-content: space-evenly;
}
#firstSection {
    display: flex;
    justify-content: center;
}

#secondSection{
    display: flex;
    justify-content: space-evenly;
}

.smallContainer {
    display: flex;
    flex-direction: column;
}

#grad {

    /* Source: https://www.w3schools.com/css/css3_gradients.asp */
    height: 600px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(red, yellow); /* Standard syntax (must be last) */
  }

@media (max-width: 500px) {

}
