*{
    border: 0.5px solid grey;
}

h1 {
    display: flex;
    justify-content: center;

}

/* Changes top nav bar text styling*/
.topnav a{
    color: black;
    text-decoration: none;
}

.topnav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}

body {
    background-image: "https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80"
}

  
  #paragraphOne {
    display: flex;
    align-items: flex-end;
  }

#headerSection {
    display: flex;
    width: 90%;
    position: absolute;
    left: 5%;
    top: 5%;
    justify-content: space-between;
}

.backgroundImage {

    width: 100%;
    height: 100%;
}

#signUpButton {
    border-radius: 500px;
    background-color: #555555;
    color: white;
    width: 40%;
    height: 2rem;
    border: 0.5px solid grey;
}

#signUpButton a {
    color: white;
    text-decoration: none;
}


#buttonTextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    left: 50%;
    top: 50%;
}

#secondSection {
    display: flex;
    flex-direction: column;
    text-align: center;

    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
}

#thirdSection{
    display: flex;
    justify-content: space-evenly;

    margin-top: 5%;
}

.smallContainer {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
}
 
#firstImage {
    width: 10%;
}

#secondImage {
    width: 10%;
}

#thirdImage {
    width: 10%
}

@media (max-width: 800px) {

    #buttonTextContainer {
        position: absolute;
        left: 40%;
        top: 20%;
    }

    #discoverHeader {
        font-size: 16px;
    }

    #backgroundImageParagraph {
        font-size: 9px;
    }

}
